html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    gap: 5px;
    border: solid 1px;
    padding: 10px;
    border-radius: 25px;
    background-color: #171616;
}

.row {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}


button {
    font-size: 40px;
    line-height: 60px;
    padding: 16px 8px;
    border-radius: 25px;
    flex-basis: 25%;
}

#zero {
    flex-basis: 35%;
}

#point {
    flex-basis: 35%;
}


.display {
    height: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 10px;
}

.display p {
    padding-right: 10px;
    margin: 0;
    text-align: end;
    color: whitesmoke;
    flex-grow: 1;
    padding-top: 5px;
}

#top {
    height: 70px;
    font-size: 60px;
    background-color: #787171;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

#bottom {
    height: 120px;
    font-size:80px;
    background-color: #575050;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    font-weight: bold;
}

/* calculator buttons' coloring and shading */

.operator {
    color: whitesmoke;
    background-image: linear-gradient(to right, rgb(36, 4, 28) 0%, rgb(203, 35, 63) 50%, rgb(36, 4, 28) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 0px solid rgb(28, 110, 164);
    display: inline-block;
}
.operator:hover {
    background: rgb(203, 35, 63);
 }
.operator:active {
    background: #24041c; 
}

.operand {
    color: whitesmoke;
    background-image: linear-gradient(to right, rgb(20, 78, 117) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 0px solid rgb(28, 110, 164);
    display: inline-block;
}
.operand:hover {
    background: rgb(35, 136, 203);
 }
.operand:active {
    background: #051925; 
}